/target/
/.classpath
/.project
/.settings
/.springBeans
/*.log
/.apt_generated
/.factorypath
/*.iml
/.idea
/.apt_generated
/*.iws
/*.ipr
/.DS_Store
/**/.DS_Store
/*.iws
/*.ipr
/*.iml

/**/target/
/**/.classpath
/**/.project
/**/.settings
/**/.springBeans
/**/*.log
/**/.apt_generated
/**/.factorypath
/**/*.iml
/**/.idea/
/**/.apt_generated
/**/*.iws
/**/*.ipr
/**/.DS_Store
/**/*.iws
/**/*.ipr
/**/*.iml
/**/*.iml
/**/.git/